@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");

:root {
  --mercury-color: #419ebb;
  --venus-color: #eda249;
  --earth-color: #6f2ed6;
  --mars-color: #d14c32;
  --jupiter-color: #d83a34;
  --saturn-color: #cd5120;
  --uranus-color: #1ec2a4;
  --neptune-color: #2d68f0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #070724;
  background-image: url("./assets/background-stars.svg");
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
}

h1,
h2,
h4 {
  margin: 0;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

/* ---------------Header part design---------------*/

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__content {
  margin: 1.57em 2.92em 1.92em 2.28em;
  justify-content: space-between;
}

.header__title {
  font-family: "Antonio", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 0;
}

.hamburger_menu {
  display: none;
}

.circle-mercury,
.circle-venus,
.circle-earth,
.circle-mars,
.circle-jupiter,
.circle-saturn,
.circle-uranus,
.circle-neptune,
.arrow {
  display: none;
}

.nav {
  align-self: center;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 33px;
}

.nav__link {
  text-decoration: none;
  opacity: 0.75;
  color: #fff;
  text-transform: uppercase;
}

.nav__link-box-one,
.nav__link-title {
  display: inline;
}

.mercury:hover {
  opacity: 1;
  cursor: pointer;
  color: var(--mercury-color);
}

.mercury-focus {
  opacity: 1;
  border-top: 4px solid var(--mercury-color);
  padding-top: 2.2em;
}

.venus:hover {
  opacity: 1;
  cursor: pointer;
  color: var(--venus-color);
}

.venus-focus {
  opacity: 1;
  border-top: 4px solid var(--venus-color);
  padding-top: 2.2em;
}

.earth:hover {
  opacity: 1;
  cursor: pointer;
  color: var(--earth-color);
}

.earth-focus {
  opacity: 1;
  border-top: 4px solid var(--earth-color);
  padding-top: 2.2em;
}

.mars:hover {
  opacity: 1;
  cursor: pointer;
  color: var(--mars-color);
}

.mars-focus {
  opacity: 1;
  border-top: 4px solid var(--mars-color);
  padding-top: 2.2em;
}

.jupiter:hover {
  opacity: 1;
  cursor: pointer;
  color: var(--jupiter-color);
}

.jupiter-focus {
  opacity: 1;
  border-top: 4px solid var(--jupiter-color);
  padding-top: 2.2em;
}

.saturn:hover {
  opacity: 1;
  cursor: pointer;
  color: var(--saturn-color);
}

.saturn-focus {
  opacity: 1;
  border-top: 4px solid var(--saturn-color);
  padding-top: 2.2em;
}

.uranus:hover {
  opacity: 1;
  cursor: pointer;
  color: var(--uranus-color);
}

.uranus-focus {
  opacity: 1;
  border-top: 4px solid var(--uranus-color);
  padding-top: 2.2em;
}

.neptune:hover {
  opacity: 1;
  cursor: pointer;
  color: var(--neptune-color);
}

.neptune-focus {
  opacity: 1;
  border-top: 4px solid var(--neptune-color);
  padding-top: 2.2em;
}

/*----section ----*/
.container {
  width: 85%;
  margin: 15.14em auto 0 auto;
}

.primary_section {
  justify-content: space-between;
  margin: auto 0;
  max-height: 481.56px;
  min-height: 481.56px;
}

.main-info {
  flex-basis: 40%;
  max-width: 350px;
  margin-left: 1.5em;
}

.image-container {
  margin: 0 auto;
  align-self: center;
  position: relative;
}

.main-image{
  transition: opacity 2s ease;
}



.geology {
  width: 163px;
  height: 199px;
  position: absolute;
  left: 50%;
  bottom: 0;
}

.section__info--title {
  font-family: "Antonio", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
}

.section__info--text_content {
  line-height: 25px;
  margin-top: 1.642em;
  margin-bottom: 1.714em;
}

.section__info--source {
  margin-top: 0;
  margin-bottom: 2.785em;
  opacity: 0.5;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.3px;
  display: flex;
}

.section__info--text_source {
  color: #fff;
  text-decoration-line: underline;
}

img.icon-source {
  align-self: center;
  margin-left: 0.57em;
}

.section__info--buttons {
  font-size: 0.75rem;
  flex-direction: column;
  letter-spacing: 2.571px;
  text-transform: uppercase;
}

.button_text {
  margin-left: 2.33em;
}

.number {
  opacity: 0.5;
  margin-left: 2.33em;
}

.overview,
.internal,
.surface {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.overview,
.internal {
  margin-bottom: 1.33em;
}

.overview-hover:hover,
.internal-hover:hover,
.surface-hover:hover {
  cursor: pointer;
  background-color: rgba(216, 216, 216, 0.2);
}

.secondary_section {
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 6.21em 0 4em 0;
}

.additional-info__element {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 1.428em;
  padding-bottom: 1.92em;
  padding-left: 1.642em;
  min-width: 255px;
  margin: 1em 1em;
}

.additional-info__element h4 {
  font-size: 0.688rem;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.5;
}

.additional-info__element p {
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}



@media (max-width: 955px) {
    /* ---------------Header part design---------------*/
  
    .header__content {
      flex-direction: column;
    }
  
    .header__title {
      align-self: center;
      margin-bottom: 1.14em;
    }
  
    .mercury-focus {
      border: none;
      color: var(--mercury-color);
      padding: 0;
    }
  
    .venus-focus {
      border: none;
      color: var(--venus-color);
      padding: 0;
    }
  
    .earth-focus {
      border: none;
      color: var(--earth-color);
      padding: 0;
    }
  
    .mars-focus {
      border: none;
      color: var(--mars-color);
      padding: 0;
    }
  
    .jupiter-focus {
      border: none;
      color: var(--jupiter-color);
      padding: 0;
    }
  
    .saturn-focus {
      border: none;
      color: var(--saturn-color);
      padding: 0;
    }
  
    .uranus-focus {
      border: none;
      color: var(--uranus-color);
      padding: 0;
    }
  
    .neptune-focus {
      border: none;
      color: var(--neptune-color);
      padding: 0;
    }

    /*----section ----*/
    .container {
      width: 85%;
      margin: 1.92em auto 0 auto;
    }
  
    .primary_section {
      flex-direction: column;
      max-height: none;
      min-height: none;
    }
  
    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 422px;
      min-height: 422px;
    }
  
    .geology{
      width: 133px;
      height: 159px;
      position: absolute;
      left: 50%;
      bottom: 0;
    }
  
    .mercury-image {
      width: 184px;
      height: 184px;
    }
  
    .venus-image {
      width: 253px;
      height: 253px;
    }
  
    .earth-image {
      width: 285px;
      height: 285px;
    }
  
    .mars-image {
      width: 213px;
      height: 213px;
    }
  
    .jupiter-image {
      width: 369px;
      height: 369px;
    }
  
    .saturn-image {
      width: 422px;
      height: 422px;
    }
  
    .uranus-image {
      width: 290px;
      height: 290px;
    }
  
    .neptune-image {
      width: 285px;
      height: 285px;
    }
  
    .main-info {
      display: flex;
      flex-basis: auto;
      max-width: none;
      margin-left: 0;
      margin-top: 0.78em;
      justify-content: space-between;
    }
  
    .section__info--text {
      max-width: 339px;
      margin-right: 1em;
    }
  
    .section__info--text_content {
      line-height: 22px;
      margin-top: 1.714em;
      margin-bottom: 1.285em;
    }
  
    .section__info--source {
      margin-top: 0;
      margin-bottom: 0;
      opacity: 0.5;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 1.3px;
      display: flex;
    }
  
    .section__info--buttons {
      min-width: 281px;
      align-self: center;
    }
  
    .section-button {
      min-height: 40px;
      align-items: center;
    }
  
    .secondary_section {
      margin: 0.92em 0 2.57em 0;
    }
  
    .additional-info__element {
      min-width: 164px;
      margin: 1em 0 0 0;
      padding-top: 1.142em;
      padding-bottom: 1.357em;
      padding-left: 1.07em;
    }
  
    .additional-info__element h4 {
      font-size: 0.5rem;
      line-height: 16px;
      letter-spacing: 0.727px;
    }
  
    .additional-info__element p {
      font-size: 1.5rem;
    }
  }


    @media (max-width: 600px) {
        /* ---------------Header part design---------------*/
        .header__content {
          flex-direction: row;
          margin: 1.14em 1.71em;
        }
      
        .header__title {
          margin: 0;
        }
      
        .hamburger_menu {
          display: block;
          width: 24px;
          height: 17px;
          align-self: center;
        }
      
        .nav {
          position: absolute;
          top: 69px;
          left: 0;
          z-index: 1;
          width: 100%;
          background-color: #070724;
          background-image: url("./assets/background-stars.svg");
        }
      
        .nav__list {
          display: none;
          gap: 20px;
          width: 90%;
          margin: 0 auto;
        }
      
        .nav__list li {
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding-bottom: 1.43em;
        }
      
        .nav__list li:first-child {
          margin-top: 20px;
        }
      
        .nav__list li:last-child {
          border: none;
        }
      
        .nav__list-active {
          display: flex;
          flex-direction: column;
        }
      
        .nav__link {
          display: flex;
          font-size: 0.938rem;
          justify-content: space-between;
        }
      
        .nav__link-box-one {
          display: flex;
          gap: 15px;
        }
      
        .nav__link-title {
          align-self: center;
        }
      
        .circle-mercury,
        .circle-venus,
        .circle-earth,
        .circle-mars,
        .circle-jupiter,
        .circle-saturn,
        .circle-uranus,
        .circle-neptune {
          display: block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }
      
        .circle-mercury {
          background-color: #def4fc;
        }
      
        .circle-venus {
          background-color: #f7cc7f;
        }
      
        .circle-earth {
          background-color: #545bfe;
        }
      
        .circle-mars {
          background-color: #ff6a45;
        }
      
        .circle-jupiter {
          background-color: #ecad7a;
        }
      
        .circle-saturn {
          background-color: #fccb6b;
        }
      
        .circle-uranus {
          background-color: #65f0d5;
        }
      
        .circle-neptune {
          background-color: #497efa;
        }
      
        .arrow {
          display: block;
          width: 4px;
          height: 8px;
          align-self: center;
        }
      
        .hamburger_menu-opacity {
          opacity: 0.2;
        }
      
        /*-----section ---*/
        .container {
          margin-top: 2.857em;
        }
      
        .section__info--buttons {
          flex-direction: row;
          position: absolute;
          top: 69px;
          left: 0;
          width: 100%;
          justify-content: space-around;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }
      
        .section-button {
          font-size: 0.563rem;
          border: 0;
          margin: 0;
        }
      
        .number {
          display: none;
        }
      
        p.button_text {
          margin: 0;
        }
      
        .image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 256px;
          min-height: 256px;
          margin-top: 1.857em;
        }
      
        .geology {
          width: 113px;
          height: 135px;
          position: absolute;
          left: 50%;
          bottom: 0;
        }
      
        .mercury-image {
          width: 111px;
          height: 111px;
        }
      
        .venus-image {
          width: 154px;
          height: 154px;
        }
      
        .earth-image,
        .neptune-image {
          width: 173px;
          height: 173px;
        }
      
        .mars-image {
          width: 129px;
          height: 129px;
        }
      
        .jupiter-image {
          width: 224px;
          height: 224px;
        }
      
        .saturn-image {
          width: 256px;
          height: 256px;
        }
      
        .uranus-image {
          width: 176px;
          height: 176px;
        }
      
        .main-info {
          margin-top: 1.714em;
        }
      
        .section__info--text {
          max-width: none;
          margin: 0;
          text-align: center;
        }
      
        .section__info--title {
          font-size: 2.5rem;
        }
      
        .section__info--text_content {
          font-size: 0.688rem;
          margin: 1.45em 0 0.9em 0;
        }
      
        .section__info--source {
          justify-content: center;
          font-size: 0.75rem;
        }
      
        .secondary_section {
          margin-top: 2em;
          margin-bottom: 2.857em;
        }
      
        .additional-info__element {
          min-width: none;
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0.642em 1.714em 0.92em 1.714em;
        }
      
        .additional-info__element:first-child {
          margin-top: 0;
        }
      
        .additional-info__element h4 {
          align-self: center;
        }
      
        .additional-info__element p {
          font-size: 1.25rem;
        }
      }